@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>SDProductions has always been transparent with its operations and security.</p>
<p>That's why we have this clear and easy-to-understand privacy policy. When visiting this site, SDProductions guarantees that it never directly takes any user info, be it IP Address, device location, browser type, or any other identifying marks. All we log from the user is the increment in visit for us to see how popular the site is. Data received from the packet sniffing tool used to give this website it's data is anonymized with no identifying marks, and is stored for a maximum of 90 days before it is wiped from our servers. We are not responsible for any user incidents caused by the data displayed by our site. Please excercise caution when opening destination domains found on our site.</p>