@{
    ViewData["Title"] = "Terms of Use";
}
<h2>Privacy Policy</h2>

<p>SDProductions has always been transparent with its operations and security.</p>
<p>That's why we have this clear and easy-to-understand privacy policy. When visiting this site, SDProductions guarantees that it never directly takes any user info, be it IP Address, device location, browser type, or any other identifying marks. All we log from the user is the increment in visit for us to see how popular the site is. Data received from the packet sniffing tool used to give this website it's data is anonymized with no identifying marks, and is stored for a maximum of 30 days before it is wiped from our servers.</p>
<br />
<h2>Terms of Use</h2>
<p>By visiting this website, you, the user, agree to excercise caution when handling any data shown on our site. While we do actively work to block malicious links and make the domains shown on our site family friendly, we are not responsible in any way for the information displayed as it is sourced from a third party, nor responsible for any damages caused. Please excercise caution and safe web browsing while opening domains that are listed on our site.</p>