@model IEnumerable<NetworkVisualizer.Models.Audit>

@{
    ViewData["Title"] = "Audit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Audit</h2>

<br />
@{
    DateTime lastTime = DateTime.UtcNow.Subtract(TimeSpan.FromDays(2));
    foreach (var item in Model)
    {
        if (item.DateTime.Minute != lastTime.Minute)
        {
            <h3>@item.DateTime.AddHours(Config.config.UTCHoursOffset)</h3>
            <hr />
            lastTime = item.DateTime;
        }
        <p class="nospace">@item.Username:</p>
        <p class="nospace">@item.Action</p>
        <br />
    }
}