
@{
    ViewData["Title"] = "Config";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Config</h2>

<br />
<h3>HttpPostPassword: </h3>
<p>@Config.config.HttpPostPassword</p>
<h3>DataGen Enabled: </h3>
<p>@Config.config.DataGenerationEnabled</p>
<h3>UTC Offset:</h3>
<p>@Config.config.UTCHoursOffset</p>