
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admininistrator Control Panel</h2>

<br />
<p><a href="~/Packets">Packet List</a></p>
<p><a href="~/Users">User List</a></p>
<p><a href="~/Cache">Cache List</a></p>