
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Admininistrator Control Panel</h2>

<br />
<div class="control-panel">
    <a href="~/packets"><img class="row adminButton" src="~/images/packets.png" /></a>
    <a href="~/users"><img class="row adminButton" src="~/images/users.png" /></a>
    <a href="~/cache"><img class="row adminButton" src="~/images/cache.png" /></a>
</div>
