
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Admininistrator Control Panel</h2>

<br />
<div class="control-panel">
    <a href="~/config"><img class="row adminButton" src="~/images/Config.png" /></a>
    <a href="~/packets"><img class="row adminButton" src="~/images/Packets.png" /></a>
    <a href="~/audit"><img class="row adminButton" src="~/images/Audit.png" /></a>
    <a href="~/users"><img class="row adminButton" src="~/images/Users.png" /></a>
    <a href="~/cache"><img class="row adminButton" src="~/images/Cache.png" /></a>
</div>
