body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

#banner {
    display: block;
    width: 500px;
    margin: auto;
    margin-top: 1vh;
}

#loading {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#loadingimg {
    display: block;
    width: 300px;
    margin: auto;
    margin-top: 35vh;
}

.contentBlock {
    margin: 20px 100px;
    margin-top: 0;
}

.login {
    width: 50vw;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.control-panel {
    display: block;
    width: 650px;
    margin: auto;
    margin-top: 6vh;
}

.adminButton {
    height: 200px;
    width: 200px;
    margin: 5px;
}

#chart-div {
    width: 100%;
}

h2 {
    color: #666666;
    font-size: 24px;
}
h3 {
    color: #666666;
}

p {
    color: #888888;
    padding-top: 2vh;
}

a {
    color: #76a5af;
}

footer {
    background-color: #eeeeee;
    height: 55px;
    width: 100%;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
}
footer p {
    padding-top: 3px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    #banner {
        width: 360px;
    }
    #loadingimg {
        width: 100px;
    }
    .contentBlock {
        margin: 20px 40px;
        margin-top: 0;
    }
    h2 {
        font-size: 16px;
    }
    .login {
        width: 100%;
    }
    .control-panel {
        width: 230px;
        margin: auto;
    }
    .adminButton {
        height: 100px;
        width: 100px;
        margin: 5px;
    }
    footer p {
        font-size: 15px;
        margin-bottom: 5px;
    }
}