body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

#banner {
    display: block;
    width: 500px;
    margin: auto;
    margin-top: 1vh;
}

.contentBlock {
    margin: 20px 150px;
    margin-top: 0;
}

#chart-div {
    width: 100%;
}

h2 {
    color: #666666;
}

p {
    color: #888888;
    padding-top: 5vh;
}

a {
    color: #76a5af;
}

footer {
    background-color: #eeeeee;
    height: 70px;
    width: 100%;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
}
footer p {
    padding-top: 10px;
}