@model IEnumerable<NetworkVisualizer.Models.Cache>

@{
    ViewData["Title"] = "Cache";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Cache - <a asp-action="Create">Create New</a></h2>

<br />
@{
    DateTime lastTime = DateTime.UtcNow.Subtract(TimeSpan.FromDays(2));
    foreach (var item in Model)
    {
        if (item.ExpireTime.Minute != lastTime.Minute)
        {
            <h3>@item.ExpireTime.AddHours(Config.config.UTCHoursOffset)</h3>
            <hr />
            lastTime = item.ExpireTime;
        }
        <p>
            <b>@item.Key</b> -
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> -
            @item.Value
        </p>
        <br />
    }
}
