@model IEnumerable<NetworkVisualizer.Models.Cache>

@{
    ViewData["Title"] = "Cache";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Cache - <a asp-action="Create">Create New</a></h2>

<br />
@foreach (var item in Model)
{
    <h3>@item.ExpireTime.Subtract(TimeSpan.FromDays(1))</h3>
    <hr />
    <p>
        <b>@item.Key</b> -
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> -
        @item.Value
    </p>
    <br />
}
